body {
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/inscription/asset/backGroundChangeProfil.png'); /* Assurez-vous que ce chemin est correct */
    background-size: cover;
    background-position: center;
}

.main-content {
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    background-color: #000000; /* Fond noir */
    border: 2px solid rgb(12, 12, 12);
    box-shadow: 10px 10px 10px rgba(192, 190, 190, 0.5), -10px -10px 10px rgba(192, 190, 190, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.profile-modal {
    background: rgb(0, 0, 0); /* Optionnel : pour rendre le fond de la modal semi-transparent */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.profile-pic {
    margin-bottom: 60px; /* Ajout d'un espace entre l'image et le bouton */
}

.profile-pic img {
    width: 150px;
    height: 140px;
}

button {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF; /* Ajout d'un cadre blanc */
    padding: 10px 20px;
    border-radius: 30px; /* Border radius de 30 */
    cursor: pointer;
}
